
body {
  font-family: Arial, sans-serif;
  background-color: #9b9b9b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;

  /* Добавление градиента к фону контейнера */
  background: radial-gradient(circle, #000000, #ff0000);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px; /* Отступы между кнопками */
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 10px; /* Уменьшенный шрифт для всех кнопок */
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.logo, .balance, .action-button {
  background-color: #0066cc;
  color: white;
  padding: 6px 13px; /* Уменьшен padding для более компактного вида */
  border-radius: 5px;
  border-color: gold;
  font-size: 12px; /* Уменьшен размер шрифта верхних кнопок */
}

.main {
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative; /* Устанавливаем позиционирование для контейнера карусели */
  overflow: hidden; /* Скрываем все элементы, выходящие за пределы контейнера */
}

.arrow-left, .arrow-right {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.carousel-screen {
  width: 250px;
  height: 100px;
  background-color: black;
  margin: 0 10px;
  transition: transform 0.5s ease-in-out;
  border-radius: 15px;
}

.carousel-item {
  width: 250px; /* Ширина элемента */
  height: 100px; /* Высота элемента */
  background-color: black;
  color: white;
  display: flex; /* Используем flex для центрирования */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  font-size: 14px; /* Размер шрифта */
  border-radius: 15px; /* Скругление краев */
  margin: 0 auto; /* Центрирование элемента по горизонтали */
  opacity: 0; /* Начальная прозрачность */
  position: absolute; /* Позиционируем элементы абсолютно */
  transition: opacity 0.5s ease; /* Анимация прозрачности */
}

.carousel-item.active {
  opacity: 1; /* Прозрачность при показе */
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Анимация для точек */
}

.dot.active {
  background-color: #0066cc;
  transform: scale(1.2); /* Увеличение активной точки */
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lobby, .gift, .search {
  background-color: #0066cc;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-color: gold;
  font-size: 14px;
}

.title-container {
  position: relative;
  color: white;
  margin-bottom: 20px; /* Увеличиваем отступ снизу */
  margin-top: 20px;    /* Добавляем отступ сверху */
  font-size: 16px;
  text-align: center;
  z-index: 1; /* Устанавливаем z-index для текста, чтобы рамка была за ним */
}

/* Добавляем рамку позади текста "Быстрые игры" */
.title-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 110%;
  background: linear-gradient(45deg, #0066cc, #0066cc); /* Фон */
  border-radius: 5px;
  border: 2px solid gold; /* Добавляем обводку */
  z-index: -1; /* Отправляем рамку за текст */
}


.games {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.game {
  background-color: #0066cc;
  color: white;
  width: 100%; /* Занимает всю доступную ширину */
  aspect-ratio: 1; /* Устанавливает соотношение сторон 1:1 (квадрат) */
  border-radius: 5px;
  border-color: gold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 12px; /* Уменьшенный шрифт для всех кнопок */
  display: flex; /* Используем flex для центрирования */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  margin: 0; /* Убираем любые отступы сверху и снизу */
}


/* Адаптация для мобильных устройств с максимальной шириной экрана 400px */
@media only screen and (max-width: 400px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 10px;
    max-width: 100%;
    margin-top: 0;
  }

  button {
    font-size: 8px;
    padding: 5px 10px;
  }

  .carousel-screen {
    width: 200px;
  }

  .carousel-item {
    width: 180px;
    height: 70px;
    font-size: 12px;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .lobby, .gift, .search {
    padding: 8px;
    font-size: 12px;
  }

  .game {
    padding: 30px;
    font-size: 14px;
  }

  .games {
    gap: 5px;
  }
}